.navbar-brand {
    font-size: 25px;
    font-weight: 150;
}

.btn-outline-success {
    background-color: rgb(255, 255, 255);
}

.navbar {
    justify-content: flex-end;
    background-size: 7px;
    width: 100%;
    padding-top: 0.2rem;
    float: right;
    height: 60px;
}

.ustmenu {
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
}

.container-fluid {
    justify-content: right;

}

.navbar-toggler {
    margin-left: auto;
}

#navbarNavAltMarkup {
    margin-left: auto;
}

.carousel {
    position: relative;
    z-index: 1001;
}

body {
    margin: 0;
    overflow-x: hidden;

}

.footer {
    background: #050505;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

.cardboyut {
    width: "286px";
    height: "214px";
}

section {
    display: inline;
}

element.style {
    width: 18rem;
}

.bg-dark {
    height: 10%;
}